.container {
    width: 100%;
    max-width: 1000px;
}

.container .todo-container .task-form {
    margin-bottom: 20px;
}

.container .todo-container .task-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    max-width: 500px;
    width: 100%;
}

.container .todo-container .task-list .task {
    display: flex;
    justify-content: space-between;
}

.container .todo-container .task-list .task .left-side {
    display: flex;
    max-width: fit-content;
    gap: 10px;
}

.container .todo-container .task-list .task .left-side .checkbox {
}

.completed {
    text-decoration: line-through;
}

.container .todo-container .task-list .task .right-side {
    display: flex;
    max-width: fit-content;
    gap: 10px;
}
